<div>
    <h1>
        Hola {{nombre}} {{apellido}}! que gusto verte. para tener
        {{edad}}
        años estas muy bien. si tu correo es
        {{correo}}
        te contactaremos pronto. tambien te podemos llamar al
        {{telefono}}.
    </h1>
</div>